* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo Black", sans-serif;
  font-weight: 500;
  font-style: normal;
}

nav div a {
  text-decoration: none;
  color: white;
  /* background-color: aqua; */
  padding: 5px;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(9, 9, 9);
  padding: 15px 40px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a:hover {
  color: red;
}

nav div li:last-child a {
  background-color: orangered;
  /* tb  lr */
  padding: 5px 10px;
  border-radius: 10px;
}

nav div li:last-child a:hover {
  color: rgb(12, 218, 173);
  background-color: rgb(230, 186, 170);
}

nav h2 {
  color: white;
}

.active {
  text-decoration: underline rgb(211, 22, 22) double;
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.hero {
  background-color: aquamarine;
  height: 90vh;
  background-image: url("../images/Banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero button {
  background-color: red;
  color: white;
  /* tb   lr */
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.hero button:hover {
  background-color: darkred;
}

.video-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  gap: 50px;
}

.video-text {
  flex: 1;
}

.video-box {
  flex: 1;
}

.video-box video {
  width: 100%;
  border-radius: 25px;
}

.video-text h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.video-text p {
  font-size: 18px;
  color: rgb(96, 86, 86);
}

.about {
  text-align: center;
  background-color: aqua;
  /*       tb   lr */
  padding: 60px 20px;
  background-color: #dedbdb;
}

.about p {
  max-width: 700px;
  /* background-color: aqua; */
  line-height: 1.6;
  margin: auto;
}

.card {
  background-color: rgb(242, 243, 243);
  /* border: 2px solid black; */
  padding: 15px;
  text-align: center;
  /*  horizonal  vertical blur spread  */
  box-shadow: 0px 0px 10px 0px rgb(110, 80, 80);
  border-radius: 10px;
}

.card img {
  width: 100%;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* border: 2px solid black; */
  padding: 20px;
}

.icon-box {
  min-width: 100px;
  text-align: center;
  cursor: pointer;
 
}

.icon-box img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid rgb(227, 191, 125);
  padding: 5px;
}

.category-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.icon-box p {
  margin-top: 8px;
  font-size: 16px;
  
}

.icon-box img:hover {
  /*  skew(ndeg)   rotate(ndeg) translate(12px, 12px) */
  transform: scale(1.1);
  border-color: black;
  transition: 0.5s;
}

.card button{
  border-radius: 50px;
  background:orangered;
  color: solid black;
}

.card button:hover{
  color: red;
}

.menu-container{
}

.item img {
width: 70px;
height: 70px;
object-fit: cover;
border-radius: 10px;
}

table{
  width: 70%;
  border-collapse:collapse ;
  border-radius: 10px;
  background: rgb(196, 196, 123);
  margin: auto;
  margin-top: 10px;
  justify-content: center;
  overflow: hidden;
  border: 2px solid black ;
}

thead{
  background: orangered;
}

th , td{
padding: 10px;
text-align: center;
}

tbody tr{
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

.item{
  display: flex;
  align-items: center;
  gap: 15px;
}

.rem{
  background: orangered;
  padding:5px 10px ;
  cursor: pointer;
  border-radius: 15px;
}

.rem:hover{
background:red;}

.total{
  font-width: bold ;
  font-size: 16px;
  border-radius: 15px;
  overflow: hidden;
}

.button{
  margin-top:15px; 
    padding: 5px 10xp;
    border-radius: 10px;
    cursor: pointer;
    background: orangered;
}

.box button{
  cursor: pointer;
  background: orangered;
  width: 20px;
  height: 25px;
 border-radius: 50%;
}

.box  :hover{
  background: red;
}

.box span{
  font-size:16px ;
  font-weight:bold ;
  min-width :20px ;
  text-align: center;
}

.box{
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 20px;
}

.auth{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background:linear-gradient(red,rgb(151, 151, 84));
}

.autbox
{
  background:rgb(169, 153, 185);
  padding: 30px;
  border-radius: 40px;
  width:320px ;
  text-align: center;
  box-shadow: 0px 8px 25px (rgb(43, 43, 38));
  height: 450px;
}

.autbox h2{
  margin-bottom: 20px; 
}

.autbox input{
width: 100%;
padding: 7px;
margin:10px 0px ;
border:1px solid white ;
border-radius: 40px;
outline:solid ;
}

.autbox input:focus{
  outline-color:orangered;
}

.autbox button{
width: 100%;
padding: 7px;
margin:10px 0px ;
border:1px solid white ;
border-radius: 40px;
outline: none;
cursor: pointer;
background: pink;
text:solid black;
transition: 1s;
}

.autbox button:hover{
  background: rosybrown;
 transition: 1s;
}

.autbox p{
  margin-top: 10px;
  font-size: 14px;
}

.autbox a{
  color: red;
  text-decoration: solid;
}

