* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo Black", sans-serif;
  font-weight: 500;
  font-style: normal;
}

nav div a {
  text-decoration: none;
  color: white;
  /* background-color: aqua; */
  padding: 5px;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(9, 9, 9);
  padding: 15px 40px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a:hover {
  color: red;
}

nav div li:last-child a {
  background-color: orangered;
  /* tb  lr */
  padding: 5px 10px;
  border-radius: 10px;
}

nav div li:last-child a:hover {
  color: rgb(12, 218, 173);
  background-color: rgb(230, 186, 170);
}

nav h2 {
  color: white;
}

.active {
  text-decoration: underline rgb(211, 22, 22) double;
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.hero {
  background-color: aquamarine;
  height: 90vh;
  background-image: url("../images/Banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero button {
  background-color: red;
  color: white;
  /* tb   lr */
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.hero button:hover {
  background-color: darkred;
}

.video-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  gap: 50px;
}

.video-text {
  flex: 1;
}

.video-box {
  flex: 1;
}

.video-box video {
  width: 100%;
  border-radius: 25px;
}

.video-text h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.video-text p {
  font-size: 18px;
  color: rgb(96, 86, 86);
}

.about {
  text-align: center;
  background-color: aqua;
  /*       tb   lr */
  padding: 60px 20px;
  background-color: #dedbdb;
}

.about p {
  max-width: 700px;
  /* background-color: aqua; */
  line-height: 1.6;
  margin: auto;
}

.card {
  background-color: rgb(242, 243, 243);
  /* border: 2px solid black; */
  padding: 15px;
  text-align: center;
  /*  horizonal  vertical blur spread  */
  box-shadow: 0px 0px 10px 0px rgb(110, 80, 80);
  border-radius: 10px;
}

.card img {
  width: 100%;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* border: 2px solid black; */
  padding: 20px;
}

.icon-box {
  min-width: 100px;
  text-align: center;
  cursor: pointer;
 
}

.icon-box img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid rgb(227, 191, 125);
  padding: 5px;
}

.category-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.icon-box p {
  margin-top: 8px;
  font-size: 16px;
  
}

.icon-box img:hover {
  /*  skew(ndeg)   rotate(ndeg) translate(12px, 12px) */
  transform: scale(1.1);
  border-color: black;
  transition: 0.5s;
}

.card button{
  border-radius: 50px;
  background:orangered;
  color: solid black;
}

.card button:hover{
  color: red;
}

.menu-container{
}